<section class="section-title-flex white-color">
    <div class="first-flex row first">
        <div class="block block-white">
            <a href="/faq/" target="_blank"><img src="/images/main/FAQ2_2x.png" alt="FAQ" /></a>
        </div>
        <div class="text right">
            <h2 class="blue noBg"><a href="/faq/" target="_blank" class="block-header-link">FAQ</a></h2>
            <p class="noBg">There are very good chances that the question you have is already answered on the Frequently Asked Questions page! Check out answers to almost a hundred of questions by fellow microstockers and Xpiks customers.</p>
            <a href="/faq/" class="links no-media-link">See more {{- partial "arrow-right" -}}</a>
        </div>
        <a href="/faq/" class="links media-link">See more {{- partial "arrow-right" -}}</a>
    </div>
    <div class="line line-white"></div>
    <div class="first-flex row second">
        <div class="text">
            <h2 class="yellow noBg"><a href="/tutorials/" target="_blank" class="block-header-link">Tutorials</a></h2>
            <p class="noBg">Xpiks has tutorials for all features that you can find inside. Looking through tutorials will make your process much faster and smoother. Also there are step by step guides in Xpiks blog that show complete process of submitting photos, vectors and videos to microstocks.</p>
            <a href="/tutorials/" class="links no-media-link">See more {{- partial "arrow-right" -}}</a>
        </div>
        <div class="block block-white">
            <a href="/tutorials/" target="_blank"><img src="/images/main/Tutorials_2x.png" alt="Xpiks Tutorials" /></a>
        </div>
    </div>
    <a href="/tutorials/" class="links media-link">See more {{- partial "arrow-right" -}}</a>
</section>
