<section class="section-title-flex white-color">
    <div class="first-flex row first">
        <div class="text">
            <h2 class="yellow noBg"><a href="/tutorials/" target="_blank" class="block-header-link">Tutorials</a></h2>
            <p class="noBg">Xpiks has tutorials for all features that you can find inside. Looking through tutorials will make your process much faster and smoother. Also there are step by step guides in Xpiks blog that show complete process of submitting photos, vectors and videos to microstocks.</p>
            <a href="/tutorials/" class="links no-media-link">See more {{- partial "arrow-right" -}}</a>
        </div>
        <div class="block block-white">
            <a href="/tutorials/" target="_blank"><img src="/images/main/Tutorials_2x.png" alt="Xpiks tutorials" /></a>
        </div>
        <a href="/tutorials/" class="links media-link">See more {{- partial "arrow-right" -}}</a>
    </div>
    <div class="line line-white"></div>
    <div class="first-flex row second">
        <div class="block block-white">
            <a href="/support/" target="_blank"><img src="/images/main/Support_2x.png" alt="Xpiks Support" /></a>
        </div>
        <div class="text right">
            <h2 class="blue noBg"><a href="/tutorials/" target="_blank" class="block-header-link">Support</a></h2>
            <p class="noBg">Xpiks offers priority support that can help with any question related to Xpiks or microstock submission process. Also Xpiks has few community forums in Google Groups and Facebook where fellow contributors can help you.</p>
            <a href="/support/" class="links no-media-link">See more {{- partial "arrow-right" -}}</a>
        </div>
    </div>
    <a href="/support/" class="links media-link">See more {{- partial "arrow-right" -}}</a>
</section>
