<section class="section-title-flex">
    <div class="first-flex row first">
        <div class="text">
            <h2 class="yellow">Keywording</h2>
            <p>You can add metadata fast using fully automatic <i><strong>AI keywording</strong></i> in addition to <strong>autocompletion</strong>, <strong>spellcheck</strong>, <strong>keywords presets</strong> and <strong>keywording suggestions</strong>. Edit single and multiple files at once, copy and paste metadata between artworks and export it to CSV.</p>
            <a href='/tutorials/keywords-overview/' class="links no-media-link" target="_blank">See more {{- partial "arrow-right" -}}</a>
        </div>
        <div class="block">
            <a href='/tutorials/keywords-overview/' target="_blank"><img src="/images/main/Keywording_image_2x.png" alt="Keywording in Xpiks" /></a>
        </div>
        <a href="/tutorials/keywords-overview/" class="links media-link">See more {{- partial "arrow-right" -}}</a>
    </div>
    <div class="line"></div>
    <div class="first-flex row second">
        <div class="block">
            <a href="/tutorials/intro-uploading/" target="_blank"><img src="/images/main/Upload_image_2x.png" alt="Uploading in Xpiks" /></a>
        </div>
        <div class="text right">
            <h2 class="blue">Uploading</h2>
            <p>You can upload to microstocks and to any server that supports <strong>FTP</strong>, <strong>SFTP</strong> or <strong>FTPS</strong> protocols. Upload via <i><strong>Xpiks Cloud</strong></i> or directly from your computer. Xpiks will automatically create zip archives for vectors and previews and detect the best uploading mode and speed.</p>
            <a href="/tutorials/intro-uploading/" class="links no-media-link">See more {{- partial "arrow-right" -}}</a>
        </div>
    </div>
    <a href="/tutorials/intro-uploading/" class="links media-link">See more {{- partial "arrow-right" -}}</a>

</section>
