<section class="section-hero">
  <div class="flex-section-hero row">
    <div class="flex-left-text">
      <h1>Turn creativity into <span class="accent">income</span></h1>
      <p class="hero-subtitle">
        Edit and upload your Photos, Vectors and
        Videos to all microstocks <span>fast</span> and <span>easily</span>.
      </p>
      <div class="flex-section-hero-button">
        <a class="button main-btn-color plausible-event-name=Download plausible-event-position=hero" href="/downloads/">
          Download
        </a>
        <a class="button white-btn-color plausible-event-name=Buy plausible-event-position=header" href="/pricing/">
          Buy
        </a>
      </div>
      <div class="flex-section-hero-usage">
        Join <span>{{ lang.FormatNumberCustom 0 ($.Site.Data.usage.daily) "- . ," }}</span> <a href="#testimonials">delighted</a> daily users
      </div>
    </div>

    <div class="flex-right-img">
      <img src="/images/main/Hero_image_2x.png" alt="Xpiks screenshot" />
    </div>
  </div>

</section>