<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Xpiks",
        "legalName": "Intmaker OÜ",
        "url": "https://xpiksapp.com",
        "logo": "https://xpiksapp.com/images/logo-big-section.png",
        "foundingDate": "2014",
        "founder": [
            {
                "@type": "Person",
                "name": "Taras Kushnir"
            }
        ],
        "sameAs": [
            "https://facebook.com/xpiksapp",
            "https://twitter.com/xpiksapp",
            "https://www.pinterest.com/xpiks",
            "https://www.reddit.com/r/Xpiks"
        ]
    }
</script>