//Reset
#nav, #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.line-logo {
    width: 1.6px;
    display: inline-block !important;
    height: 24px;
    background: #fff;
    margin: 0px 14px;

    @media screen and (max-width: 64.063em) {
        width: 1px;
        display: inline-block !important;
        height: 28px;
        background: #fff;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 1px;
    }
}
// Navbar wrap
.navbar {
    background-color: $dark-bg;
}
.active{
    a[href*="/tutorials/"]{
        svg{
            opacity: 1;
        }
    }
    
}
.arrow-none{
    opacity: 0 ;
}
// Main navigation bar
#nav .primary-nav {
    
    z-index: 2;
    position: relative;
    display: none;
    @media screen and (max-width: 64.063em) {
        overflow: scroll;
    }
    .button{
        min-width: 118px;
        float: right;
        margin-top: 16.5px;
        padding: 6px 10px 6px;

        @media screen and (max-width: 64.063em) {
            width: 286px;
            float: inherit;
            margin: auto;
            margin-top: 68px;
            display: block;
            margin-bottom: 70px;
            padding: 10px 10px 6px;
        }
    }
    .position-btn{
        @media screen and (max-width: 64.063em) {
            position: relative;
            margin-top: 50px;
        }
    }
}
.menu-tutorials-none{
    display: none !important;   
}
#nav > .primary-nav > li {
    display: block;
    float: left;
    position: relative;
}

// Main navigation links
#nav > .primary-nav > li > a {
    /* Layout */
    line-height: $navbar-height;
    height: 69px;
    display: block;
    padding: 0 30px;
    font-family: $navbar-font-family;
    font-size: $navbar-font-size;
    font-weight: 700;
    color: $navbar-text-color;
    text-decoration: none;

    /* Transitions */
     transition: color .2s ease-in, border-top-color .2s ease-in;
     svg{
        transform: rotateZ(-90deg);
        margin-left: 11px;
     }
}

// Hover state of the links
#nav > .primary-nav > li:hover > a {
    color: $navbar-hover-color;
    border-top-color: #fff;
}

// Active state of the links
#nav > .primary-nav > li.active > a {
    color: $navbar-active-color;
}

#nav > .primary-nav > li.highlight > a {
    color: $blue-accent-color;
}

#nav > .primary-nav > li.highlight-gold > a {
    color: #f49c12;
}

#nav > .primary-nav > li.dropdown > a {
    padding-right: 28px;
}

// Dropdown menu arrow
.dropdown > a::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-top-color: inherit;
    right: 11px;
    top: ($navbar-height / 2);
}

// Submenus
#nav .primary-nav ul {
    display: block;
    position: absolute;
    top: $navbar-height;
    left: -9999px;
    opacity: 0;
    background: $dark-bg;
    cursor: pointer;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: opacity .22s ease-in;
    -ms-transition: opacity .22s ease-in;
    -moz-transition: opacity .22s ease-in;
    -o-transition: opacity .22s ease-in;
    transition: opacity .22s ease-in;
    
}

#nav .primary-nav ul li {
    display: block;
    position: absolute;
    height: 0px;
    -webkit-transition: height .15s ease-in;
    -ms-transition: height .15s ease-in;
    -moz-transition: height .15s ease-in;
    -o-transition: height .15s ease-in;
    transition: height .15s ease-in;
}

// Submenu appears when its parent is hovered
#nav > .primary-nav > li:hover > ul {
    left: 0px;
    opacity: 1;
}

// Submenu links
#nav .primary-nav ul li a {
    /* Layout */
    display: block;
    padding: 7px 12px 7px 22px;
    width: 130px;

    /* Typography */
    font-family: $navbar-font-family;
    font-size: ($navbar-font-size * .92);
    text-decoration: none;
    color: $secondary-color;
    font-weight: 400;

    /* Background & effects */
    background: $dark-bg;
    -webkit-transition: color .2s ease-in, border-left-color .2s ease-in;
    -ms-transition: color .2s ease-in, border-left-color .2s ease-in;
    -moz-transition: color .2s ease-in, border-left-color .2s ease-in;
    -o-transition: color .2s ease-in, border-left-color .2s ease-in;
    transition: color .2s ease-in, border-left-color .2s ease-in;
}

// Change the link color on hover
#nav .primary-nav ul li:hover > a {
    color: $navbar-hover-color;
}

.nav ul ul {
    display: none;
}

#nav {
    background: $dark-bg;
    .navbar-logo-mobile {
        width: 50%;
        margin-left: 1.5rem;
        min-height: 60px;

        @media screen and (max-width: 64.063em) {
            max-width: none;
        }

        span{
            display: inline;
        }
    }

    .primary-nav {
        width: 100%;
        height: 93vh;
    }

    #toggle-menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 1.5rem;
        width: 20px;
        height: 20px;
        z-index: 1;
        line-height: 45px;
        transform: translateY(-50%);
        &::after {
            position: absolute;
            content: "";
            right: 0px;
            top: 8px;
            height: 9px;
            width: 20px;
            border-top: 2px solid $secondary-color;
            border-bottom: 2px solid $secondary-color;
            z-index: 1;
        }

        &::before {
            position: absolute;
            content: "";
            right: 0px;
            top: 0px;
            height: 3px;
            width: 20px;
            border-bottom: 2px solid $secondary-color;
            z-index: 1;
        }
    }
}

.navbar-logo {
    height: 70px;

    a {
        display: flex;
        height: 100%;
        align-items: center;
    }
}

.navbar-logo img{
    height: 28px;
}

.navbar-logo-text{
    font-weight: 300;
    font-size: 26px;
    color: #fff;
}
#toggle-checkbox {
    display: none;
}

@media screen and (min-width: 64.063em) {
    #nav .primary-nav {
        display: block !important;
        height: auto;
        svg{
            display: none;
        }
    }
    #toggle-menu {
        display: none !important;
    }

    #nav .primary-nav {
        width: auto;
    }
    .navbar {
        height: $navbar-height;
    }
    

}

.primary-nav{
    .tutorials-sidebar{
        display: none ;
    }
}

@media screen and (max-width: 40.063em) {
    .media-tutorial{
        display: none;
    }
    .primary-nav{
        .tutorials-sidebar{
        
            background: $dark-bg;
            border: none;
            display: block;
            padding-left: 50px;
            padding-bottom: 0;
            margin-bottom: 0;
            .tutorial-nav{
                li a{
                    color: #FFFFFF ;
                }
                li a:hover{
                    color: #BEC2CA ;
                } 
            }
            .tutorial-sub-nav{
                display: none !important;
            }
        }
        
    }
}
@media screen and (max-width: 40.063em) {
    .active >a{
        color: #c7ccd3 !important;
    }
}

@media screen and (max-width: 64.063em) {
    
    
    .wrap {
        padding-top: 60px;
    }
    
    .none{
        display: block !important;
        margin: auto;
        position: absolute;
        bottom: 71px;
        left: 50%;
        transform: translate(-50%);
        width: 286px;
    }
    #nav {
        z-index: 100;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        max-height: 100% !important;
        overflow-y: auto;
        color:#ffffff;
    }
    .primary-nav {
        background: $dark-bg;
        border-top: 1px solid #3A3B3D;
        padding-top: 30px !important;
    }
    .navbar .row {
        min-width: 100%;
    }
    #toggle-checkbox:checked + .primary-nav {
        display: block !important;
    }

    #nav .primary-nav li {
        float: none;
        padding: 0 15px;
        margin-top: 20px;
    }

    #nav > .primary-nav > li > a {
        line-height: 80px;
        padding: 0 35px;

    }

    #nav > .primary-nav > li:hover {
        background: $primary-text-color;
    }

    #nav > .primary-nav > li:hover a {
        color: #fff;
    }

    #nav > .primary-nav > li:last-child > a {
        border-bottom: none;
    }

    .dropdown > a::after {
        display: none;
    }

    #nav .primary-nav ul {
        position: relative;
        top: 0px;
        left: 0px;
        right: auto;
        opacity: 1;
        clear: both;
    }

    #nav .primary-nav ul li, #nav > .primary-nav > li:hover > ul > li {
        height: auto;
        position: relative;

    }
    .navbar-logo-mobile{
        display: flex !important;
        height: 100%;
        align-items: center;
        
        img {
            width: 30px;
            height: 31px;
        }
    }
    #nav .primary-nav ul li a {
        padding: 5px 10px;
        width: auto;
    }

}


