.decorrated {
    .upped {
        display: none;
    }
}

.decorrated:after {
    content: attr(data-n) "@" attr(data-d) "." attr(data-t); 
}

#avatar {
    background-image: url('/images/168.jpg');

    /* make a square container */
    width: 360px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    // border-radius: 50%;

    // -webkit-box-shadow: 0 0 0 5px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.1);
}

div.support-header {
    margin-bottom: 20px;
    p {
        font-size: $font-size-h1-small;
        text-align: center;
    }
}

div.support-header-img {
    max-width: 1020px !important;
    margin: -700px auto 0 auto !important;
    padding: 0 !important;
    width: 1020px;
    @media screen and (max-width: 64.063em) {
        width: 100%;
        padding: 0 16px !important;
        margin: -165px auto 0!important;
    }
    img {
        margin: 30px 0;
        width: 1020px;
        @media screen and (max-width: 64.063em) {
            width: 100%;
        }
    }
}
.suppot-white-block{
    margin-top: 100px;
    @media screen and (max-width: 64.063em) {
        margin-top: 0;
    }
    section{
        background: $light-gray-background;
        @media screen and (max-width: 64.063em) {
            background: #fff;
        }
    }
}

.email-best {
    padding-top: 50px;

    @media screen and (max-width: 64.063em) {
        padding-top: 20px;
    }
}

.head-page-image {
    @media screen and (min-width: 64.063em) {
        height: 335px;
    }
}