.report-bug {
    position: relative;
    padding-left: 75px;
    @media screen and (max-width: 64.063em) {
        padding-left: 100px;
    }
    h2 {
        margin-bottom: 5px;
    }
    a {
        color: $primary-text-color;
        &:hover {
            color: $main-btn-hover-bg;
            text-decoration: none;
        }
        &:active {
            color: $main-btn-hover-bg;
        }
    }
    .report-bug-icon {
        left: 0;
        top:50%;
        position: absolute;
        transform: translateY(-50%);
        max-width: 70px;
        @media screen and (max-width: 64.063em) {
            max-width: 80px;
        }
    }
    svg {
        max-width: 100%;
        height: auto;
    }
}