{{- $topics := (sort (where $.Site.RegularPages "Type" "topic") "Params.order")  -}}
{{- $len := (len $topics) -}}
<div class="row large-up-3 medium-up-3 small-up-1 tutorial-overview-list">
    {{ range $index, $topic := $topics }}
    {{- if $topic.Params.shortcut -}}
    <a href="{{$topic.RelPermalink}}" class="column column-block tutorial-overview-item block-header-link {{if eq (add $index 1) $len}}end{{end}}">
        <h3>{{$topic.Title}}</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
    </a>
    {{- end -}}
    {{ end }}
</div>
