<div class="features-row">
    <div class="pricing-features-header">
        <h2>Achieve more with Xpiks<span class="features-pro">PRO</span></h2>
    </div>
    <div class="row large-up-3 medium-up-3 small-up-1">
        <div class="column column-block feature-box">
            <img src="/images/pro/Upload.png" />
            <h3>Background upload</h3>
            <p>Edit other artworks while you upload to microstocks</p>
        </div>
        <div class="column column-block feature-box">
            <img src="/images/pro/ColorTags.png" />
            <h3>Color tags</h3>
            <p>Create your personal workflow using color tags and color filters</p>
        </div>
        <div class="column column-block feature-box">
            <img src="/images/pro/Settings.png" />
            <h3>Settings synchronization</h3>
            <p>Continue your work uninterrupted with synchronized Xpiks settings</p>
        </div>
        <div class="column column-block feature-box">
            <img src="/images/pro/SVG.png" />
            <h3>Additional file formats</h3>
            <p>Included "RAW" photos, SVG vectors, PNG and TIFF images</p>
        </div>
        <div class="column column-block feature-box end">
            <img src="/images/pro/CSV.png" />
            <h3>CSV Import</h3>
            <p>Import metadata from CSV files with customizable columns</p>
        </div>
        <div class="column column-block feature-box">
            <img src="/images/pro/Support.png" />
            <h3>Priority support</h3>
            <p>Get help faster with Xpiks priority support right within the app</p>
        </div>
    </div>
    <div class="row all-features">
        <a href="/pro-features/" target="_blank" class="links link-with-arrow">See list of all features {{partial "arrow-right"}}</a>
    </div>
</div>
