<div class="pricing-header">
    <div id="price-parity-offer" class="offer-hidden"></div>
    <h1>Choose the right Xpiks license for you</h1>
    <span>Try Xpiks Pro+ for free for 14 days. No credit card required!</span>
    <div class="toggle-btn">
        <span id="monthlyText" style="margin: 0.8em;">Monthly</span>
        <label class="switch">
          <input type="checkbox" id="pricingCheckbox" onclick="switchMonthlyYearly();" checked="true" />
          <span class="slider round"></span>
        </label>
        <span id="yearlyText" class="active" style="margin: 0.8em;">Yearly</span>
        <span id="pricingTooltip" class="pricing-tooltip-text active">Save 35%</span>
    </div>
</div>