<div class="questions-row row">
    <div class="row large-up-2 medium-up-2 small-up-1">
        <div class="column column-block questions-cell">
            <h3>What happens after I buy a license?</h3>
            <p>You will receive 2 emails: a receipt for your transaction and a separate email with the license activation code.</p>
        </div>
        <div class="column column-block questions-cell end">
            <h3>What if I move to another computer?</h3>
            <p>You can manage license activations inside the app and deactivate unused devices.</p>
        </div>
        <div class="column column-block questions-cell">
            <h3>What if I changed my mind?</h3>
            <p>No questions asked refund for up to 2 months use for Pro license and pro-rata refund for yearly Pro+.</p>
        </div>
        <div class="column column-block questions-cell">
            <h3>I have more questions</h3>
            <p>The best place to start is our <a class="links" href="/faq/" target="_blank">FAQ</a> page. For pricing questions just hit the chat button on the right.</p>
        </div>
    </div>
    <div class="img-quetions-row">
        <img src="/images/main/Questions_2x.png" />
    </div>
</div>
