<div class="steps-row">
    <div class="row large-up-4 medium-up-4 small-up-1 steps-grid">
        <div class="column column-block step-item">
            <h2>01.</h2>
            <p>Choose the right plan</p>
        </div>
        <div class="column column-block step-item">
            <h2>02.</h2>
            <p>Add billing details</p>
        </div>
        <div class="column column-block step-item">
            <h2>03.</h2>
            <p>Download Xpiks app</p>
        </div>
        <div class="column column-block step-item end">
            <h2>04.</h2>
            <p>Enter a license in Xpiks app</p>
        </div>
    </div>
    <div class="line row"></div>
</div>
