{{- if ($.Scratch.Get "free_download") -}}
{{- $cls := $.Scratch.Get "free_download_class" -}}
<section class="section-free-downloads {{$cls}}">
  <div class="row">
    <div class="small-12 large-2 columns">
      <div class="section-download-logo">
        <img src='{{ "/images/logo-big-section.png" | relURL }}' alt="xpiks">
      </div>
    </div>
    <div class="small-12 large-7 columns text-download">
      <h2 class="section-title">Turn your creativity into income!</h2>
      <p>Join <span>{{ lang.FormatNumberCustom 0 ($.Site.Data.usage.daily) "- . ," }}</span> <a href="/testimonials/" target="_blank">delighted</a> daily users</p>
    </div>
    <div class="small-12 large-3 columns download-button">
      <a class="button main-btn-color plausible-event-name=Download plausible-event-position=footer" href='{{ "/downloads/" | relURL }}'>Download</a>
    </div>
  </div>
</section>
{{ end }}
