<div class="about-page">
    <div class="small-12">
        <div class="single-post row">
            <div class="post-item">
                <div class="post-content">
                    <div id="avatar"></div>
                    <h1 class="about-none">Our Founder</h1>
                    <div class="description">
                        <h1>Our Founder</h1>
                        <p>Xpiks was founded by Taras Kushnir (that's me 👋) in Ukraine 🇺🇦. I'm a software engineer, entrepreneur and mentor. Also I'm a photographer and microstock contributor so by creating Xpiks I'm combining two of my passions: art and programming. You can check out a <a href="https://brutallyhonestmicrostock.com/2021/03/27/interview-with-xpiks-founder-taras-kushnir/" target="_blank">short interview</a> with me.</p>
                        <p>I'm working on Xpiks every day and I can't wait to share many new cool features with you! Stay tuned.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter-block row">
            <h2>History</h2>
            <p>I built a small app for my partner in 2014 since she was drawing illustrations on macOS and there was no decent software to keyword and upload her artworks. This app allowed adding basic metadata editing and uploading files to multiple websites at once.</p>
            <p>After I shared what I created with other people, what you now know as Xpiks was born. Fastforward few years and Xpiks has about 100 000 downloads (as of 2019) and is being used by thousands of people around the globe every day. Few photo studios use it as internal tool with custom functions.</p>
            <p>I made Xpiks available across all major platforms (macOS, Windows and Linux) so everybody could enjoy flawless keywording and uploading to microstocks. Volunteers translated Xpiks to 18 languages (and counting) so people all over the world can streamline their contributor process and save time.</p>
            <p>P.S. In case you're wondering, "Xpiks" means cross (X)-Platform Image Keywording Software.</p>
        </div>
    </div>
</div>
