<div class="section-cooperation">
    <div class="row">
        <h1>
            Looking for cooperation?
        </h1>
        <p>Contact me for business-related inquiries</p>
        <a href="#" class="button main-btn-color"
data-s="."
data-d="xpiksapp"
data-n="hello"
data-t="com"
data-m="xxmxaxixlxtoxx:x"
data-a="&#x40;"
onclick="window.location.href = this.dataset.m.replace(/x/g,'') + this.dataset.n + this.dataset.a + this.dataset.d + this.dataset.s + this.dataset.t; return false;">Contact Me</a>
    </div>
</div>
