<header class="page-header page-header-download">
  <img class="" src='{{ "/images/logo-big-shadowed.png" | relURL }}' alt="Xpiks">

  <div class="row">
      <div class="small-12">
          <!-- Mac -->
          <div data-os="mac" class="tab-download-content">
              <h2>Xpiks for macOS</h2>
              <p>Download the Xpiks package, unpack and drag'n'drop it to the Applications.</p>
              <a class="button main-btn-color" href="https://releases.xpiksapp.com/1.7.3.20/Xpiks-v1.7.3.dmg">Download</a>
              <br/> <span class="release-notes"><a class="links" href="/release-notes/" target="_blank">Release notes</a></span>
          </div>
          <!-- /Mac -->
          <!-- windows -->
          <div data-os="windows" class="tab-download-content">
              <h2>Xpiks for Windows</h2>
              <p>Download the Xpiks installer and follow the wizard steps.</p>
              <a class="button main-btn-color" href="https://releases.xpiksapp.com/1.7.3.20/Xpiks-1.7.3-setup.exe">Download</a>
              <br/> <span class="release-notes"><a class="links" href="/release-notes/" target="_blank">Release notes</a></span>
          </div>
          <!-- /windows -->
          <!-- Linux -->
          <div data-os="linux" class="tab-download-content">
              <h2>Xpiks for Linux</h2>
              <p>This is a universal AppImage package. Download it, allow execution as a program  <br/> in Properties and run. Read more about <a class="links" href="http://appimage.org/" target="_blank">AppImage here</a>.</p>
              <a class="button main-btn-color" href="https://releases.xpiksapp.com/1.7.3.20/Xpiks-v1.7.3-x86_64.AppImage">Download</a>
              <br/> <span class="release-notes"><a class="links" href="/release-notes/" target="_blank">Release notes</a></span>
          </div>
          <!-- /Linux -->
      </div>
  </div>
</header>

<section class="section-platforms section-default">
<div class="row">
  <div class="small-12">
    <div class="tabs-os-buttons-wrapper">
    <!-- mac-button -->
    <div data-os="mac" class="tabs-os-button small-6 columns">
      <div class="download-button-wrap">
        <div class="icon">
          <img src='{{ "/images/os/macos.png" | relURL }}' alt="macos">
        </div> 
        <a href="#">
          for <strong>macOS</strong>
        </a> 
      </div>
    </div>
  <!-- /mac-button -->
  <!-- windows-button -->
  <div data-os="windows" class="tabs-os-button small-6 columns">
    <div class="download-button-wrap">
      <div class="icon"> <img src='{{ "/images/os/005-windows-logo-silhouette.png" | relURL }}' alt="windows"> </div>
      <a href="#">for <strong>Windows</strong></a>
    </div>
  </div>
  <!-- /windows-button -->
  <!-- linux-button -->
  <div data-os="linux" class="tabs-os-button small-6 columns">
    <div class="download-button-wrap">
      <div class="icon"> <img src='{{ "/images/os/003-linux-logo.png" | relURL }}' alt="linux"> </div> 
      <a href="#">for <strong>Linux</strong></a>
    </div>
  </div>
  <!-- /linux-button -->
  </div>
</div>
</div>
</section>

